[Desktop Entry]
Version=1.0
Name=VALHALLA v.1.0.0 Beta Isa
GenericName=Fast-paced Shooter
Exec=valhalla
Icon=net.valhalla_fps.VALHALLA
Terminal=false
Type=Application
Categories=Game;Shooter;
